#mmenu_screen_1 > .row {
    min-height: 90vh;
}
#mmenu_screen_2 > .row {
    min-height: 100vh;
}
#mmenu_header > .row {
    min-height: 10vh;
}
.banner{
    background: url('http://localhost:8080/img/banner.png') repeat 0 0;
    min-height: 100%;
}

/* For width 400px and larger: */
@media only screen and (min-width: 400px) {
    #mmenu_screen_1--banner {
      background-image: url('http://localhost:8080/img/banner.png');
      /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}