body {
    background-color: #E3E3E3;
    padding: 50px 0px 0px 0px;
    background-image: url(../Bilder/mon_hintergrund.png);
    background-size: contain;
    background-blend-mode: darken;
}

nav {
    position: fixed;
    top: 0px; left: 0px;
    background-color: #888;
    box-shadow: 0.02px 0.02px 10px #888;
    width: 1500px;
}
    
nav ul {
    margin: 0px 50px;
    padding: 0px;
}

nav ul li {
    list-style: none;
    float: left;
    padding: 15px 20px;
    color: #FFFFFF;
    font-family: 'Martel', serif;
}

h1 {
    font-family: 'Martel', serif; 
    font-size: 20px;
    padding: 0px 0px 20px 0px;
}


@media(min-width: 1200px){
    h1 {
        font-family: 'Martel', serif; 
        font-size: 20px;
        padding: 20px 0px 20px 0px;
    }

    .text {
        background-color: #FFFFFF;
        margin: 20px 100px 30px 100px;
        padding: 20px 50px 50px 50px;
        box-shadow: 0.05px 0.05px 8px #999;
        font-family: 'Roboto', sans-serif;
        line-height: 1.5;
    }
}