#mmenu_screen_1 > .row {
    min-height: 90vh;
}
#mmenu_screen_2 > .row {
    min-height: 100vh;
}
#mmenu_screen_3 > .row {
    min-height: 100vh;
}
#mmenu_screen_4 > .row {
    min-height: 100vh;
}
#mmenu_header {
    height: 10vh;
    background-color: grey;
}

#mmenu_header_nav {
    
}

/* For width 400px and larger: */
@media only screen and (min-width: 400px) {
    #mmenu_screen_1--banner {
      background-image: url('http://localhost:8080/img/banner.jpg');
      /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #mmenu_screen_3--cover {
        background-color: white;
        background-image: url('http://localhost:8080/img/karata-girl-black-white.svg');
        /* Full height */
          height: 100%;
  
          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
    }
    #mmenu_screen_4--cover {
        background-color: white;
        background-image: url('http://localhost:8080/img/karata-girl.jpg');
        /* Full height */
          height: 100%;
  
          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
    }
}
